/* ---------------------------------------------- COLOUR VARIABLES ---------------------------------------------------------------------------- */

:root {
  --primary: #5850ec;
  --secondary: #e7eeff;
  --text: #6b7280;
  --black: #000;
}

/* ----------------------------------------------- BASIC CSS RESET ------------------------------------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* ---------------------------------------------- NAVIGATION STYLING -------------------------------------------------------------------------- */

nav {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  color: var(--text);
  font-size: 12px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--text);
}

.link-highlighted {
  color: var(--primary);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--text);
  margin: 5px;
}

/* Tablet */
@media only screen and (max-width: 1024px) {
  nav {
    justify-content: space-between;
    padding-top: 1.5rem;
  }

  .nav-links {
    width: 70%;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
  .nav-links {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    /* transform: translateX(100%); */
    transition: transform 0.2s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-3px, 8px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-3px, -8px);
}

/* ---------------------------------------------- HERO STYLING ---------------------------------------------------------------------------- */

.hero-section-container {
    height: 100vh;
    width: 100%;
    display: flex;
  }

.hero-container-1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero-content-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 100%;
}

.hero-container-2 {
    width: 50%;
    height: 100%;
}

.hero-image-container {
    width: 100%;
    height: 100vh;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
}

@media only screen and (max-width: 1024px) {
  .hero-flex-container {
    flex-direction: column;
  }
}
